
body {
  font-family: 'Arial', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif
  
}
.home_text{
  color: white;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-top: 150px;
  font-size: 52px;

}
.map-image{
  margin-top: 30px;
  margin-left: 100px;
}
.home2_h{
  margin-top: 20px;
  margin-left: 50px;
}
.h2_title{
  font-size: 30px;
  color: black

}
.property{

  background-color: rgba(151, 151, 151, 1);
}

.red-button {
    background-color: red !important;
    margin-top: 50px;
    margin-left: auto;
  } 

.p_tag{
 padding-left:50px ;
 margin-top: 50px;
}
.cards{
  padding: 20px;
  margin-top: 10px;
}
.card_text{
  color: rgba(244, 81, 30, 1);
  font-size: 25px;

}
.heading{
  padding-top: 150px !important;
  color: black !important;
}
.bg_image{
  padding-top: 40px;
  border-radius: 5px;
}
.bg_text {
  color: white !important;
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
}
/* styles.css */
.radius{
  border-radius: 10px; /* Adjust the border-radius as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 30px;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;

}

.heading {
  text-align: center;
  padding: 20px;
  color: red;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.label {
  flex: 1;
  text-align: right;
  padding-right: 15px;
  margin-top: 8px;
}

.input-field {
  flex: 2;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}
.form-row:last-child {
  flex-direction: column;
}

.form-row:last-child .label,
.form-row:last-child .input-field {
  flex: 1;
  width: 100%;
  margin-top: 10px; /* Add some margin for spacing */
}
.upload {
  width: 100%;
  height: auto;
  display: block;
}
.review{
  background-color:rgba(244, 81, 30, 0.07)
}
.review_text{
  padding: 50px;
  margin: 10px;
}
.u_image{
  float: right;
}
.footer{
  
  background: linear-gradient(to bottom, #6A5ACD, #9370DB);
  margin: 30px
;
}
.Hero2{
  background-color: rgba(229, 229, 229, 1);
}
.herosec{
 background-color:  rgba(82, 78, 85, 1);
}
.herotext{

  padding-top: 50px;

  color: white;
  
}
.logo_img{
  width: 100%;
  height: 100vh;
}
.herotext{

}
.heroimg{
  width: 100%;
  height: 100vh;
}
.home11{
  font-size: 30px;
  padding-top: 30px;
}
.sec22{
  font-size: 30px;
  padding-top: 20px;
  margin-top: 30px;
}
.Ss3-image{
  height: 100vh;
  width: 100%;
}
.l-image{
  height: 100vh;
  width: 70%;
}

.footer-landing{
  background-image: url(https://res.cloudinary.com/fahad-shahzad/image/upload/v1663946050/web3maker./landing-page-2/Screenshot_2022-09-23_at_8.03.53_PM_ef0h4r.png);
}
.bg-dark {
  background-color: #344767!important;
}
.text-center {
  text-align: center!important;
}
.nav-link{
  text-decoration: none;
  font-size: larger;
  font-weight: 600;
  color: hsla(0,0%,100%,.85);
}